#add-ability {
  float: left;
  margin-right: 40px;
}

#added-abilities {
  width: auto;
  max-width: 600px;
  overflow: hidden;
}

input.ability-form-field {
  margin: 2px
}

input.ability-form-button {
  margin: 2px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
